            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a><i class="glyphicon glyphicon-th-large"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#logmenu"><i class="glyphicon glyphicon-align-justify"></i> Logs <i class="fa fa-fw caret"></i></a>
                        <ul id="logmenu" class="collapse">
                            <li>
                                <a href="#">View Logs</a>
                            </li>
                            <li>
                                <a href="#">Filter Logs</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#exceptionmenu"><i class="glyphicon glyphicon-flash"></i> Exceptions <i class="fa fa-fw caret"></i></a>
                        <ul id="exceptionmenu" class="collapse">
                            <li>
                                <a href="#">View Exceptions</a>
                            </li>
                            <li>
                                <a href="#">Filter Exceptions</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#adminmenu"><i class="glyphicon glyphicon-wrench"></i> Admin <i class="caret"></i></a>
                        <ul id="adminmenu" class="collapse">
                            <li>
                                <a href="#">Application Config</a>
                            </li>
                            <li>
                                <a href="#">User Management</a>
                            </li>
                            <li>
                                <a href="#">Configure Exceptions</a>
                            </li>
                            <li>
                                <a href="#">Configure Column Alerts</a>
                            </li>
                            <li>
                                <a href="#">Solman Staging</a>
                            </li>
                            <li>
                                <a href="#">Change log level</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#/trends"><i class="glyphicon glyphicon-align-right"></i> Trends</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a>
                    </li>
                </ul>
            </div>